.chatbotBlock {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 100%;
    place-items: center;
    gap: 10vmin;
}

.profileImage {
    width: var(--image-dim);
    height: var(--image-dim);    
    
    object-fit: cover;
    border-radius: 50%;
    
    border: solid var(--highlight);
    border-width: 0.3rem;

    --image-dim: 40vmin;
}

.aboutMeText {
    height: 100%;

    margin-left: 15vw;
    margin-right: 15vw;

    font-size: 2vmax;
}

.name {
    font-weight: bold;
    color: var(--highlight);
}