.aboutMeBlock {
    display: grid;
    grid-template-rows: 3fr 1fr 15fr;
    grid-template-columns: 2fr 3fr;
    justify-items: center;
    row-gap: 3vh;

    height: 100%;
}

.profileImage {
    grid-row: 1;
    grid-column: 1;

    width: var(--image-dim);
    height: var(--image-dim);
    
    margin-left: 5vw;
    margin: auto 0 auto 5vw;
    
    object-fit: cover;
    border-radius: 50%;
    
    border: solid var(--highlight);
    border-width: 4.8px;

    --image-dim: 30vmin;
}

.contactInfo {
    grid-row: 2;
    grid-column: 1;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    place-items: center;

    margin-left: 5vw;
    margin-right: 2vw;
}

.contactInfoWidget {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.contactInfoWidget:hover {
    color: var(--highlight);
}

.contactInfoWidgetImage {
    width: var(--size);
    height: var(--size);

    --size: 2.5vmin;
}

.contactInfoWidgetText {
    padding-left: 0.5vw;
    
    font-size: 1.2vmax;
    white-space: nowrap;
}

.aboutMeText {
    grid-row: 3;
    grid-column: 1;

    width: 100%;

    padding-left: 5vw;

    font-size: 1.6vmax;
    color: var(--foreground);
    white-space: normal;
}

.name {
    font-weight: bold;
    color: var(--highlight);
}

.skillsBlock {
    grid-row: 1 / -1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 1vmin;

    margin-right: 5vw;

    width: 80%;
    height: 80%;
}

.skillWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: var(--size);
    height: calc(2 * var(--size)/3);

    background-color: transparent;

    border: solid var(--foreground);
    border-width: 0.2vmin;
    border-radius: 10px;
    
    --size: 17vmin;
}

.skillImage {
    width: calc(var(--size)/2.75);
    height: calc(var(--size)/2.75);

    margin-top: 0.5vmax;
}

.skillName {
    margin-bottom: 0.5vmax;

    font-size: 2vmin;
    color: var(--foreground);
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .aboutMeBlock {
        grid-template-rows: 3fr 1fr 9fr;
        grid-template-columns: 1fr 5fr;
    }

    .profileImage {
        margin-left: 5vw;
    }

    .contactInfo {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .contactInfoWidgetImage {
        --size: 3vmin;
    }

    .contactInfoWidgetText {
        font-size: 1.6vmax;
    }
    
    .aboutMeText {
        grid-row: 1;
        grid-column: 2;
        align-self: center;

        padding-top: 0;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .skillsBlock {
        grid-row: 3;
        grid-column: 1/-1;
        align-self: center;

        gap: 1vmin;

        margin-bottom: 8vh;
    }
}
