.chatbotBlock {
    display: grid;
    grid-template-rows: 3fr 28fr;
    gap: 1.5vmin;

    width: 90vw;
    height: 65vh;

    --radius: 10px;
}

.chatbotInputForm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;

    grid-row: 1;
    height: auto;
}

.chatbotInputFormText {
    width: auto;
    height: auto;

    background-color: transparent;

    border: solid var(--foreground);
    border-radius: var(--radius) 0 0 0;

    font-size: 1.6vmax;
    font-family: inherit;
    font-weight: inherit;
    color: var(--foreground);
    padding-left: 1rem;
    padding-right: 0.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotInputFormText:focus {
    outline-width: 0;
}

.chatbotInputFormText::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;

    height: 12px;
    width: 12px;

    background-size: contain;
    background-image: url("../../public/images/x.png");
    cursor: pointer;
}

.chatbotInputFormButton {
    width: 100%;
    height: 100%;

    background-color: var(--foreground);

    border: solid var(--foreground);
    border-radius: 0 var(--radius) 0 0;
    
    font-size: 2vmax;
    color: var(--background);
    font-family: "Monaco", monospace;
    text-align: center;
    padding: 0 2vmax 0.3vmax;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotInputButton:hover {
    cursor: pointer;
}

.chatbotOutput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;

    grid-row: 2;

    width: auto;
    height: inherit;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    background-color: transparent;

    border: solid var(--foreground);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    color: var(--foreground);
    font-size: 1.6vmax;
    text-align: left;
    text-overflow: wrap;
    line-height: 25px;
}

.chatbotOutput > * > * {
    padding: 2vmin;
}

.chatbotOutputResponseText {
    padding-top: 2vh;

    line-height: 3.5vh;
    white-space: pre-line;
}
