.chatbotBlock {
    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 1.5vmin;

    width: 90vw;
    height: 50vh;

    --radius: 10px;
}

.chatbotInputForm {
    display: grid;
    grid-template-columns: 15fr 1fr;
    grid-template-rows: auto;
    gap: 0;

    grid-row: 1;
    height: auto;
}

.chatbotInputText {
    width: auto;
    height: auto;

    background-color: transparent;

    border: solid var(--foreground);
    border-top-left-radius: var(--radius);

    font-size: clamp(15px, 2.4vmin, 30px);
    color: var(--foreground);
    padding-left: min(1vw, 15px);
    padding-right: min(0.5vw, 7.5px);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotInputText:focus {
    outline-width: 0;
}

.chatbotInputText::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;

    height: 12px;
    width: 12px;

    background-size: contain;
    background-image: url("../../public/images/x.png");
    cursor: pointer;
}

.chatbotInputButton {
    width: 100%;
    height: 100%;

    background-color: var(--foreground);

    border: solid var(--foreground);
    border-top-right-radius: var(--radius);
    
    font-size: min(3vmin, 30px);
    color: var(--background);
    font-family: "Monaco", monospace;
    text-align: center;
    padding-bottom: 0.3vmax;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotOutput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;

    grid-row: 2;

    width: auto;
    height: 100%;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    border: solid var(--foreground);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    color: var(--foreground);
    text-align: left;
    text-overflow: wrap;
    line-height: 25px;
    overflow-y: scroll;

    scrollbar-color: var(--foreground) transparent;
    scrollbar-width: thin;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotOutputResponse {
    margin-top: 2vh;
    padding-bottom: 2vh;
}
