.projectBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-items: center;
    gap: 5vmin;

    width: 90%;
    height: 80%;

    margin: 0 5vw 8vh 5vw;
}

.projectWidgetBlock {
    width: 100%;
    height: 100%;
}

.projectWidgetTop {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;

    width: 100%;
    height: 40%;

    border: solid var(--foreground);
    border-width: 0.3vmin 0.3vmin 0 0.3vmin;
    border-radius: 10px 10px 0px 0px;

    overflow: hidden;
}

.projectWidgetImage {
    width: var(--image-size);
    height: var(--image-size);

    margin-left: 0.5vw;

    --image-size: 7vmin;
}

.projectWidgetTitle {
    padding: 0.75vw;

    font-size: 1.65vmax;
    font-weight: normal;
    color: var(--foreground);
}

.projectWidgetLink {
    display: inline-block;
    vertical-align: middle;
}

.projectWidgetLinkImage {

    width: 1.6vmax;
    height: 1.6vmax;
    vertical-align: top;
}

.projectWidgetBottom {
    width: 100%;
    height: 60%;

    overflow: hidden;

    background-color: transparent;

    border: solid var(--foreground);
    border-width: 0 0.3vmin 0.3vmin 0.3vmin;
    border-radius: 0px 0px 10px 10px;
}

.projectWidgetDescription {
    padding: 1vmin 2vmin 1vmin 2vmin;

    color: var(--foreground);
    font-size: 1.6vmax;
}

.projectWidgetBlock:hover > * > h1 {
    color: var(--highlight);
}

.projectWidgetBlock:hover > .projectWidgetTop {
    border: solid var(--highlight);
    border-width: 0.3vmin 0.3vmin 0 0.3vmin;
}

.projectWidgetBlock:hover > .projectWidgetBottom {
    border: solid var(--highlight);
    border-width: 0 0.3vmin 0.3vmin 0.3vmin;
}

@media only screen and (max-width: 1050px) {
    .projectBlock {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
