.workExperienceBlock {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 50vh;

    width: 100vw;
    height: 100vh;
}

.navButton {
    align-self: center;

    width: auto;
    height: var(--size);

    background-color: var(--background);

    border: none;

    color: var(--foreground);
    font-size: 10vmin;

    --size: 10vmin;
}

.navButton:hover {
    cursor: pointer;
}

.navButtonLeftArrow {
    width: calc(0.511 * var(--size));
    height: var(--size);
}

.navButtonRightArrow {
    width: calc(0.511 * var(--size));
    height: var(--size);

    transform: scaleX(-1);
}

.workExperience {
    grid-column: 2;

    display: grid;
    grid-template-rows: auto 7fr;
    row-gap: 1.5vmin;

    width: 100%;
    height: auto;
}

.jobTitle {
    width: 100%;
    height: auto;

    border: solid var(--foreground);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.jobTitleText {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-left: 3vmin; 
    padding-right: 3vmin;

    font-size: 1.75vmax;
    font-style: none;
    font-weight: inherit;
}

.jobDescription {
    width: 100%;
    height: auto;

    border: solid var(--foreground);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.jobDate {
    padding: 1rem 0 1rem 1.5rem;

    color: var(--foreground);
    font-size: 1.3vmax;
    font-style: italic;
}

.jobDescriptionText {
    padding: 0 3vmin 0 5.5vmin;
    
    color: var(--foreground);
    font-size: 1.6vmax;
    line-height: 3vmax;

    overflow-y: scroll;
    scrollbar-color: var(--foreground) transparent;
    scrollbar-width: thin;

}
