.workExperienceBlock {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 50vh;

    width: 100vw;
    height: 100vh;
}

.navButton {
    background-color: var(--background);

    border: none;

    color: var(--foreground);
    font-size: 10vmin;
}

.navButton:hover {
    cursor: pointer;
}

.workExperience {
    grid-column: 2;

    display: grid;
    grid-template-rows: auto 7fr;
    row-gap: 1.5vmin;

    width: 100%;
    height: auto;
}

.jobTitle {
    width: 100%;
    height: auto;

    border: solid var(--foreground);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.jobTitleText {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-left: 3vmin; 

    font-size: 1.6vmax;
    font-style: none;
    font-weight: inherit;
}

.jobDescription {
    width: 100%;
    height: auto;

    border: solid var(--foreground);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.jobDescriptionText {
    color: var(--foreground);

    overflow-y: scroll;
    scrollbar-color: var(--foreground) transparent;
    scrollbar-width: thin;
}
