.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: scroll;
    scrollbar-width: none;
}

.chatbotBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 110vmin;
    height: 50vmin;

    margin-top: 10vh;

    border: solid var(--foreground);
    border-radius: var(--radius);

    --radius: 10px;
}

.chatbotInputForm {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 3vh;
}

.chatbotInputText {
    width: calc(104vmin - 4rem);
    height: 6vmin;

    background-color: transparent;

    margin-right: min(4.5px, 0.3vw);
    margin-left: 2rem;

    border: solid var(--foreground);
    border-bottom-left-radius: var(--radius);
    border-top-left-radius: var(--radius);

    font-size: clamp(15px, 2.4vmin, 30px);
    color: var(--foreground);
    padding-left: min(1vw, 15px);
    padding-right: min(0.5vw, 7.5px);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotInputText:focus {
    outline-width: 0;
}

.chatbotInputText::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;

    height: 12px;
    width: 12px;

    background-size: contain;
    background-image: url("./images/x.png");
    cursor: pointer;
}

.chatbotInputButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 6vmin;
    height: 6vmin;

    background-color: var(--foreground);

    margin-right: 2rem;

    border: solid var(--foreground);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
    
    font-size: min(3vmin, 30px);
    color: var(--background);
    font-family: "Monaco", monospace;
    text-align: center;
    padding-bottom: 0.3vmax;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotOutput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;

    height: 100%;
    width: 100%;

    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-right: 1rem;
    padding-left: 3rem;

    text-align: left;
    text-overflow: wrap;
    line-height: 25px;
    overflow-y: scroll;

    scrollbar-color: var(--foreground) transparent;
    scrollbar-width: thin;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chatbotOutputResponse {
    margin-top: 2vh;
}
